<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FolderIconEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FolderIconEditor.Properties.Settings>
            <setting name="IconSource" serializeAs="String">
                <value>C:\Users\paulj\OneDrive\Pictures\Logos</value>
            </setting>
            <setting name="DefaultFolder" serializeAs="String">
                <value>C:\Users\paulj\OneDrive\Documents\2024</value>
            </setting>
        </FolderIconEditor.Properties.Settings>
    </userSettings>
</configuration>